.enabled-toggle .mat-slide-toggle-bar {
    background-color: green !important;
  }

  .read-only-toggle {
    pointer-events: none;
  }

  .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-container {
    width: 300px; /* Adjust the width as needed */
  }