<table class="table">
    <tbody>
        <tr>
            
           



            <td>fake user</td>
            <td class="td-actions text-right">
                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
        <tr>

            <td>user 1</td>
            <td class="td-actions text-right">
                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
        <tr>
       
            <td>user 2
            </td>
            <td class="td-actions text-right">
                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>

    </tbody>
</table>