
<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">View User</h3>
              <button mat-icon-button class="close-button" (click)="close()">
                  <mat-icon>close</mat-icon>
              </button>
          </div>
          <div class="card-body">
              <div mat-dialog-content>
                  <mat-card-title>User Information</mat-card-title>

                  <div id="user">
                      <div class="row">
                          <div class="col-md-6">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>First Name : </mat-label>
                                  <input matInput [value]="userDetails.firstName" readonly="isViewMode" />
                                  
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>Middle Name</mat-label>
                                  <input matInput [value]="userDetails.middleName" readonly />
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>Last Name</mat-label>
                                  <input matInput [value]="userDetails.lastName" readonly />
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>Phone</mat-label>
                                  <input matInput [value]="userDetails.phone" readonly />
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>Email</mat-label>
                                  <input matInput [value]="userDetails.email" readonly />
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <mat-form-field appearance="standard" class="full-width">
                                  <mat-label>Password</mat-label>
                              </mat-form-field>
                          </div>
                      </div>
                  </div>

                  <mat-divider class="divider"></mat-divider>

                  <mat-card-title>Address Information</mat-card-title>

                  <!-- <div>
                      <div *ngFor="let address of userDetails.addressList; let i = index">
                          <div class="row">
                              <div class="col-md-9">
                                  <mat-form-field appearance="standard" class="full-width">
                                      <mat-label>Address {{i+1}}</mat-label>
                                      <input matInput [value]="address.addressLine" readonly />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field appearance="standard" class="full-width">
                                      <mat-label>Postal Code {{i+1}}</mat-label>
                                      <input matInput [value]="address.postalCode" readonly />
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field appearance="standard" class="full-width">
                                      <mat-label>City {{i+1}}</mat-label>
                                      <input matInput [value]="address.city" readonly />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field appearance="standard" class="full-width">
                                      <mat-label>State {{i+1}}</mat-label>
                                      <input matInput [value]="address.state" readonly />
                                  </mat-form-field>
                              </div>
                          </div>
                      </div>
                  </div> -->

                  <div class="button-container">
                      <button mat-button type="button" class="btn btn-primary btn-round" (click)="close()">Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>





<!-- <div *ngIf="isLoading" class="loader"></div>

<div class="main-content"  *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h3 class="card-title">User Details</h3>
      </div>
      <div class="card-body">
        <div id="userInfo">
          <mat-card-subtitle>User</mat-card-subtitle>

          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <strong>Identification:</strong> {{ userDetails.identification }}
              </div>
              <div class="col">
                <strong>Firs Name:</strong> {{ userDetails.firstName }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <strong>Middle Name: </strong> {{ userDetails.middleName }}
              </div>
              <div class="col">
                <strong>Last Name: </strong> {{ userDetails.lastName }}
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <strong>Email:</strong> {{ userDetails.email }}
              </div>
              <div class="col">
                <strong>Phone: </strong> {{ userDetails.phone }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <strong>Created Date: </strong> {{ userDetails.createdDate   | date:'yyyy-MM-dd HH:mm:ss'}}
              </div>
              <div class="col">
                <strong>Created By: </strong> {{ userDetails.createdBy }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <strong>Is Active :</strong> {{ userDetails.isActive }}
              </div>

            </div>
          </div>

        </div>

        <mat-divider></mat-divider>

        <div id="addressInfo">
          <mat-card-subtitle>Address </mat-card-subtitle>

          <ng-container *ngIf="userDetails.userToAddresses && userDetails.userToAddresses.length > 0; else noAddress">
            <div *ngFor="let userToAddress of userDetails.userToAddresses">
              <div class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <strong>Address: </strong> {{ userToAddress.address.address }}
                  </div>
                  <div class="col">
                    <strong>City: </strong> {{ userToAddress.address.city }}
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <strong>State: </strong> {{ userToAddress.address.state }}
                  </div>
                  <div class="col">
                    <strong>Postal code: </strong> {{ userToAddress.address.postalCode }}
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </ng-container>
          <ng-template #noAddress>
            <div>No addresses available.</div>
          </ng-template>


        </div>



      </div>





      <button mat-button (click)="close()">Close</button>
    </div>
  </div>
</div> -->