<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">PayCheck Detail By Employee</h4>
                        <p class="card-category">Detail</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Date"  disabled>{{employeeData.Date}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Name" disabled>{{employeeData.Name}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <!-- <input matInput placeholder="Page" type="email"> -->
                                      <input matInput placeholder="Page" disabled>{{employeeData.Page}}
                                    </mat-form-field>
                                </div>
                            </div>
                
                    
                            <div class="row">
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day1" disabled>{{employeeData.Day1}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day2" disabled>{{employeeData.Day2}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day3" disabled>{{employeeData.Day3}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day4" disabled>{{employeeData.Day4}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day5" disabled>{{employeeData.Day5}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day6" disabled>{{employeeData.Day6}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Day7" disabled>{{employeeData.Day7}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Total_hours"  disabled>{{employeeData.Total_hr}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Money" disabled>{{employeeData.Money}}
                                  </mat-form-field>
                                </div>
                            </div>
                         

                            <div class="row">
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Wk1r" disabled>{{employeeData.Wk1r}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Wk1o" disabled>{{employeeData.Wk1o}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Wk2r" disabled>{{employeeData.Wk2r}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Wk2o" disabled>{{employeeData.Wk2o}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Rate" disabled>{{employeeData.Rate}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Reg" disabled>{{employeeData.Reg}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Ot" disabled>{{employeeData.Ot}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Total"  disabled>{{employeeData.Total}}
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Disc"  disabled>{{employeeData.Disc}}
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-1">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Miscellaneous" disabled>{{employeeData.Miscellaneous}}
                                  </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Memo"  disabled>{{employeeData.Memo}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="City" disabled>{{employeeData.City}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <!-- <input matInput placeholder="Page" type="email"> -->
                                      <input matInput placeholder="St" disabled>{{employeeData.St}}
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Estado"  disabled>{{employeeData.Estado}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Creado_por" disabled>{{employeeData.Creado_por}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <!-- <input matInput placeholder="Page" type="email"> -->
                                      <input matInput placeholder="Fecha_de_creacion" disabled>{{employeeData.Fecha_de_creacion}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <!-- <input matInput placeholder="Page" type="email"> -->
                                      <input matInput placeholder="Modificado_por" disabled>{{employeeData.Modificado_por}}
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <!-- <input matInput placeholder="Page" type="email"> -->
                                      <input matInput placeholder="Fecha_de_modificacion" disabled>{{employeeData.Fecha_de_modificacion}}
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
  </div>
  

  <!-- <app-create></app-create> -->