<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<button (click)="generatePDF()">Generate PDF</button>
<div id="paycheck" class="paycheck">

    <table class="table-initial">
        <tr>
            <td>
                <p class="tittles">ALL TIME CONTRACTING CORP</p>
                <p>2578 Enterprise Road, Suite 316 </p>
                <p>Orange City FL 32763</p>
            </td>
            <td class="text-center">
                <p class="tittles">Adal Carrillo</p>
                <p>ATC-01</p>
            </td>
            <td class="text-right">
                <p class="tittles">42633</p>
                <p>6/13/2024</p>
            </td>

    </table>

    <table class="table-hours">
        <tr>
            <th>MONDAY</th>
            <th>TUESDAY</th>
            <th>WEDNESDAY</th>
            <th>THURSDAY</th>
            <th>FRIDAY</th>
            <th>SATURDAY</th>
            <th>SUNDAY</th>
            <th>TOTAL</th>
        </tr>
        <tr>
            <td>8.00</td>
            <td>8.00</td>
            <td>8.00</td>
            <td>8.00</td>
            <td>8.00</td>
            <td>-</td>
            <td>-</td>
            <td>40.00</td>
        </tr>
    </table>

    <table class="table-week">
        <tr>
            <th>WEEK 1 REG</th>
            <th>WEEK 1 OT</th>
            <th>WEEK 2 REG</th>
            <th>WEEK 2 OT</th>
            <th>RATE</th>
            <th>REGULAR</th>
            <th>OVERTIME</th>
            <th>TOTAL</th>
        </tr>
        <tr>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>21</td>
            <td>840</td>
            <td>0</td>
            <td>840</td>
        </tr>
    </table>


    <div class="row">
        <table class="table-Notice col-lg-8">
            <tr>
                <th>ATENCION</th>
                <th>NOTICE</th>
            </tr>
            <tr>
                <td>El consumo o posesión de bebidas alcohólicas o drogas alucinógenas en el sitio de trabajo o durante
                    horas de trabajo es prohibido. Pruebas de alcohol se harán en cualquier momento. Cualquier
                    trabajador que resulte positivo o con bebidas alcohólicas o drogas en el trabajo será removido del
                    proyecto y no se le permitirá regresar. Accidentes o lesiones ocurridas bajo efecto de alcohol
                    pueden no estar cubiertas (no
                    pago de cuentas medicas ni salarios perdidos)
                </td>
                <td>Possession or consumption of alcoholic beverages or illegal drugs at the jobsite, or during working
                    hours is strictly forbidden. Random tests will be performed. Any individual testing positive or in
                    possession of alcohol or drugs will be removed from the jobsite and not allowed again. Accidents or
                    injuries while intoxicated may not be covered (no payment of medical bills or lost salaries).</td>

            </tr>
        </table>

        <table class="table-disc col-lg-3">
            <tr>
                <th>DISC</th>
                <th>MISC</th>
            </tr>
            <tr>
                <td>0</td>
                <td>40</td>
            </tr>


            <tr class="remove-border">
                <td class="remove-border"></td>
                <td class="background-gray">TOTAL</td>
            </tr>
            <tr>
                <td class="remove-border"></td>
                <td>880</td>
            </tr>
        </table>


    </div>


    <div class="container text-center borderCheck">
        <div class="row spacet-top">
            <div class="col-md-4">
                ACCOUNT: Subcontractor
            </div>
            <div class="col-md-5">
                AS45390042-DF42633033-LD6513202406-ERAC10-CTA
            </div>
            <div class="col-md-3">
                ATC-01
            </div>
        </div>
        <div class="row spacet-top">

            <div class="col-md-1 text-right">

                <img src="assets/img/companies/allTimeContracting/logo-footer.png" alt="signature" class="signature">
            </div>

            <div class="col-md-5 text-left">
                <p class="remove-margin">ALL TIME CONTRACTING CORP</p>
                <p class="remove-margin">2578 Enterprise Road, Suite 316 </p>
                <p class="remove-margin">Orange City FL 32763</p>

            </div>
            <div class="col-md-4 ">
                <p class="remove-margin tittles">WELLS FARGO BANK NA</p>
                <p class="remove-margin">COMMERCIAL BANKING</p>
                <p class="remove-margin">www.wellsfargo.com</p>
                <p class="remove-margin">751/631</p>

            </div>
            <div class="col-md-2">
                <p class="remove-margin">42633</p>
                <p class="remove-margin">6/13/2024</p>
                <p class="remove-margin"></p>
                <p class="remove-margin">$880.00</p>
            </div>
        </div>
        <div class="row spacet-top">

            <div class="col-md-1">

            </div>

            <div class="col-md-5 text-left">
                <p class="unrlined">PAY ** Eight Hundred Eighty And 00/100 ** DOLLARS</p>


            </div>

        </div>

        <div class="row spacet-top">

            <div class="col-md-1">

            </div>

            <div class="col-md-2 text-left">
                <p >TO THE ORDER OF</p>
            </div>
            <div class="col-md-4 text-left">
                <p >Adal Carrillo</p>
                <p>Orlando FL</p>
            </div>
            <div class="col-md-5 text-left">
                <p class="remittance">REMITTANCE VOID IF NOT CASHED WITHIN 30 DAYS</p>
                <p>
                    <img src="assets/img/companies/allTimeContracting/signature.png" alt="signature"
                    class="signature unrlined">
                </p>
                <p class="text-center">AUTHORIZED SIGNATURE</p>
            </div>
        </div>


        <div class="row spacet-top">

            <div class="col-md-1">

            </div>

            <div class="col-md-5 text-left">
                <p >
                    <img src="assets/img/companies/allTimeContracting/paycheckNumber.png" class="paycheck-number">
                </p>
                <p>is this a random number?,it has to increace? it is a static value?</p>


            </div>

        </div>

        </div>



        <div class="footer">
            <table class="noBorder">
                <tr>
                    <td class="text-righ">
                        <img src="assets/img/companies/allTimeContracting/logo-footer.png" alt="signature"
                            class="">

                    </td>

                    <td class="text-left">
                        <p>ALL TIME CONTRACTING CORP</p>
                        <p>2578 Enterprise Road, Suite 316 </p>
                        <p>Orange City FL 32763</p>
                        MEMO: Subcontractor
                    </td>
                </tr>
                <tr>
                    <td>Adal Carrillo ATC-01</td>
                    <td class="text-right">42633</td>
                </tr>
                <tr>
                    <td>Orlando FL</td>
                    <td>
                        <p class="text-right">NOTA IMPORTANTE</p>
                        <p class="text-right">POR FAVOR LEER</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>