.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-card {
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    border: .5px dotted black;

    overflow: hidden;
  }
  
  .login-image-container {
    background: white; /* Color de fondo de la sección del logo */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    max-width: 250px;
    height: auto;
  }
  
  .logo-divider {
    margin: 20px 0;
    background-color: #fff;
  }
  
  .auth-text {
    color: black;
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .login-form-container {
    padding: 20px;
  }
  
  .welcome-text {
    text-align: center;
    font-size: 2rem;
    color: black;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
  }



/* Styling when button is enabled */
.login-form-container .mat-mdc-raised-button.enabled {
  background-color: black; /* Set background color to black */
}

/* Optional: Add styles for hover and focus states */
