<div class="container">
  <mat-card class="login-card">
    <div class="row g-0">
      <!-- Sección del logo -->
      <div class="col-12 col-md-6 login-image-container">
        <div class="d-flex align-items-center justify-content-center h-100">
          <div class="text-center">
            <img class="logo" src="../../../assets/img/MTelloLogo.png" alt="Logo">
            <mat-divider class="logo-divider"></mat-divider>
            <p class="auth-text">BUSINESS SERVICES</p>
          </div>
        </div>
      </div>
      
      <!-- Sección del formulario -->
      <div class="col-12 col-md-6 login-form-container">
        <mat-card-content>
          <div class="mb-5">
            <h2 class="welcome-text">SCYLLA</h2>
          </div>
          <form [formGroup]="formLogin" (ngSubmit)="signIn()">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" type="email" placeholder="E-mail">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="formLogin.get('email').hasError('required')">
                  El correo electrónico es requerido
                </mat-error>
                <mat-error *ngIf="formLogin.get('email').hasError('email')">
                  El correo electrónico no es válido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="hidePassword ? 'password': 'text'" formControlName="password" matInput autocomplete="off">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="form-group">
              <button mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid">Sign In</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
