<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.mtello.com/" target="_blank">
                        MTello Business Services
                    </a>
                </li>
                <li>
                    <a href="https://www.mtello.com/" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.mtello.com/" target="_blank">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.mtello.com/" target="_blank">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, MTello Business Services
        </div>
    </div>
</footer>